<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainview.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <a class="headerlogo" href="index.html">
                <img class="logo" src="../res/coffee-logo.png" alt="logo">
            </a>
            <span class="headername">Coffee Store!</span>
        </div>
    </header>
    <section class="allcoffees">
        <header class="blockheader">
            <span>Espresso coffee beans</span>
        </header>
        <article class="productarticlewide" id="coffee-1" data-price="10.00">
            <img src="../res/coffee-1.png" alt="coffee1" id="coffee1" class="productarticlewidethumbnail">
            <div class="productarticlewidecontent">
                <header>
                    <span class="productarticlewidename">Coffee 1</span>
                </header>
                <p class="productarticlewidedescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis, laboriosam quam adipisci velit neque perferendis sapiente labore vel corrupti fugiat excepturi ad eum sequi harum modi natus officiis iste!</p>
                <p class="productarticlewideprice">10$</p>
            </div>
        </article>
        <article class="productarticlewide" id="coffee-2" data-price="20.00">
            <img src="../res/coffee-1.png" alt="coffee2" id="coffee3" class="productarticlewidethumbnail">
            <div class="productarticlewidecontent">
                <header>
                    <span class="productarticlewidename">Coffee 2</span>
                </header>
                <p class="productarticlewidedescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis, laboriosam quam adipisci velit neque perferendis sapiente labore vel corrupti fugiat excepturi ad eum sequi harum modi natus officiis iste!</p>
                <p class="productarticlewideprice">20$</p>
            </div>
        </article>
        <article class="productarticlewide" id="coffee-3" data-price="30.00">
            <img src="../res/coffee-1.png" alt="coffee3" id="coffee3" class="productarticlewidethumbnail">
            <div class="productarticlewidecontent">
                <header>
                    <span class="productarticlewidename">Coffee 3</span>
                </header>
                <p class="productarticlewidedescription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi corporis, laboriosam quam adipisci velit neque perferendis sapiente labore vel corrupti fugiat excepturi ad eum sequi harum modi natus officiis iste!</p>
                <p class="productarticlewideprice">30$</p>
            </div>
        </article>
    </section>
</body>
</html>