<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainview.css">
    <title>Coffee-Store</title>
</head>
<body>
    <header>
        <div>
            <a class="headerlogo" href="index.html">
                <img class="logo" src="../res/coffee-logo.png" alt="logo">
            </a>
            <span class="headername">Coffee Store!</span>
        </div>
    </header>

    <section class="coffeedetails">
        <header class="blockheader">
            <span>Coffee 1</span>
        </header>

        <figure class="productarticlelargefigure">
            <img src="../res/coffee-1.png" alt="Coffee 1" class="productarticlelargeimage">
            <figcaption>Coffee 1</figcaption>
        </figure>

        <div class="productarticlecontent">
            <p class="productarticledescription">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus fuga praesentium itaque. Iste repudiandae quibusdam eaque temporibus enim quae? Accusamus ex et inventore excepturi sit praesentium aliquid assumenda est neque.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores at expedita, vitae id quibusdam eligendi voluptates obcaecati aliquam excepturi impedit, provident quae. Quisquam, reprehenderit eveniet? Quam sed rerum accusantium natus?
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero cupiditate illum minus, laborum exercitationem, ratione laudantium facere omnis quidem doloremque temporibus dolores voluptas neque est provident corporis officia vel et!
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestias nisi velit quos iste architecto. Delectus alias maiores quae animi dolores dignissimos error. Commodi ullam reiciendis neque exercitationem, molestias repudiandae alias.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aliquam quaerat aperiam officiis qui iusto, velit accusamus deserunt rerum illum animi iure praesentium ipsam a quod ipsum laboriosam blanditiis? Odio.
            </p>
            <p class="productarticleprice">10$</p>
        </div>
    </section>
</body>
</html>