<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/mainview.css">
    <title>Coffee-Store</title>
</head>

<body>
    <header class="main-header">
        <div>
            <a class="header-logo" href="index.html">
                <img class="logo" src="../res/coffee-logo.png" alt="logo">
            </a>
            <span class="header-name">Coffee Store!</span>
            <input type="search" class="search-box" placeholder="Search our store" />
        </div>
    </header>

    <div class="welcome-image">
        <img src="../res/coffee-banner.png" alt="coffeeheader">
    </div>
    <div class="coffee-of-the-month">
        <img src="https://thumbs.dreamstime.com/b/coffee-bean-brown-paper-bag-packaging-vector-stock-two-recyclable-blank-bags-72712441.jpg"
            alt="coffee-header">
    </div>

    <section class="welcome-text">
        <header>Welcome to Coffee Store!</header>
        <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum perferendis cumque vitae consequuntur
            accusantium, quaerat, sit nam blanditiis totam voluptatibus, similique voluptas incidunt molestias fuga
            aliquid molestiae fugiat modi fugit?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam, natus laudantium impedit pariatur dolor,
            facere dicta quidem ea vitae aspernatur repudiandae, suscipit ratione! Excepturi consectetur ab eos magnam
            eaque odit!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni consequatur ipsa modi vero alias iure,
            ducimus dolores beatae ea minima laboriosam nesciunt minus? Facere, similique at beatae consectetur
            quibusdam hic.
            <p>
                <mark>Lorem ipsum dolor sit, amet consectetur adipisicing elit.</mark>
            </p>
        </span>
    </section>

    <aside class="events">
        <header>Here's what hapenning!</header>
        <ul>
            <li><a href="#">New Mexico coffee added</a></li>
            <li><a href="#">Store redecorated</a></li>
            <li><a href="#">New website launched</a></li>
        </ul>
    </aside>

    <section class="bestsellers">
        <header class="header-title">Bestsellers @ Coffee Store</header>
        <section class="coffee-bestsellers">
            <header class="background-gradient">
                Coffees
            </header>
            <article class="product-article">
                <figure>
                    <img class="coffee-1"
                        src="https://thumbs.dreamstime.com/b/coffee-bean-brown-paper-bag-packaging-vector-stock-two-recyclable-blank-bags-72712441.jpg"
                        alt="" class="productarticlethumbnail">
                </figure>
                <header>
                    <span class="productarticlename">
                        <a href="coffeedetails.html">Coffee 1</a>
                    </span>
                </header>
                <p class="product-article-price">10 $</p>
                <div class="add-to-cart-button"> Add to cart</div>
            </article>
            <article class="product-article">
                <figure>
                    <img class="coffee-1"
                        src="https://thumbs.dreamstime.com/b/coffee-bean-brown-paper-bag-packaging-vector-stock-two-recyclable-blank-bags-72712441.jpg"
                        alt="" class="productarticlethumbnail">
                </figure>
                <header>
                    <span class="product-article-name">Coffee 1</span>
                </header>
                <p class="product-article-price">10 $</p>
                <div class="add-to-cart-button"> Add to cart</div>
            </article>
            <article class="product-article">
                <figure>
                    <img class="coffee-1"
                        src="https://thumbs.dreamstime.com/b/coffee-bean-brown-paper-bag-packaging-vector-stock-two-recyclable-blank-bags-72712441.jpg"
                        alt="" class="productarticlethumbnail">
                </figure>
                <header>
                    <span class="product-article-name">Coffee 1</span>
                </header>
                <p class="product-article-price">10 $</p>
                <div class="add-to-cart-button"> Add to cart</div>
            </article>
        </section>

        <section class="accessories-bestsellers">
            <header class="background-gradient">
                Accessories
            </header>
            <article class="product-article">
                <figure>
                    <img class="coffee-1"
                        src="https://thumbs.dreamstime.com/b/coffee-bean-brown-paper-bag-packaging-vector-stock-two-recyclable-blank-bags-72712441.jpg"
                        alt="" class="productarticlethumbnail">
                </figure>
                <header>
                    <span class="product-article-name">Coffee 1</span>
                </header>
                <p class="product-article-price">10$</p>
                <div class="add-to-cart-button"> Add to cart</div>
            </article>
            <article class="product-article">
                <figure>
                    <img class="coffee-1"
                        src="https://thumbs.dreamstime.com/b/coffee-bean-brown-paper-bag-packaging-vector-stock-two-recyclable-blank-bags-72712441.jpg"
                        alt="" class="productarticlethumbnail">
                </figure>
                <header>
                    <span class="product-article-name">Coffee 1</span>
                </header>
                <p class="productarticleprice">10$</p>
                <div class="add-to-cart-button"> Add to cart</div>
            </article>
            <article class="product-article">
                <figure>
                    <img class="coffee-1"
                        src="https://thumbs.dreamstime.com/b/coffee-bean-brown-paper-bag-packaging-vector-stock-two-recyclable-blank-bags-72712441.jpg"
                        alt="" class="product-article-thumbnail">
                </figure>
                <header>
                    <span class="product-article-name">Coffee 1</span>
                </header>
                <p class="product-article-price">10$</p>
                <div class="add-to-cart-button"> Add to cart</div>
            </article>
        </section>
    </section>

    <footer>
        <p>Our address is
        <address>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, alias? Omnis doloribus ex ducimus
            65,
            923456, México</address>
        </p>
        <p class="text-content">All site contents is copyright <a href="#" class="mainlink">Coffee's</a></p>
        <p class="small-text">This page was generated on <time>01:56:07.123</time>.</p>
    </footer>
</body>

</html>