:root {
    --primary-color: #471705;
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

@font-face {
    font-family: headerfont;
    src: url('../fonts/Pacifico/Pacifico-Regular.ttf');
}

.header-logo {
    float: left;
    margin-right: 10px;
    margin-left: 10px;
    height: 100px;
}

.header-logo>img {
    width: 80px;
}

.main-header {
    height: 80px;
}

.header-name {
    font-family: headerfont;
    font-size: 2em;
    color: var(--primary-color);
    padding: 25px;
    margin: 5px 0;
    font-weight: bold;
}

.navegacion {
    background-color: var(--primary-color);
    color: whitesmoke;
    margin-top: 10px;
    margin-bottom: 10px;
}

.navegacion>ul>li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.nav-link {
    color: white;
    font-size: 1.1em;
    margin: 5px;
    text-decoration-line: none;
}

.search-box {
    float: right;
    padding: 5px;
    margin: 20px 20px;
    width: 250px;
}

.welcome-image {
    float: left;
}

.coffee-of-the-month {
    float: right;
    width: 290px;
}

.coffee-of-the-month>img {
    float: right;
    width: 200px;
    height: 240px;
}

.welcome-text {
    float: left;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
    column-count: 2;
    -webkit-column-count: 2;
}

.welcome-text>header {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
}

.events {
    float: right;
}

.events>header {
    margin-left: 20px;
    color: var(--primary-color);
    margin-bottom: 5px;
    font-weight: bold;
}

.events>ul {
    list-style: none;
}

.events>ul>li {
    margin-bottom: 10px;
}

.bestsellers {
    height: 100%;
    width: 700px;
    float: left;
    margin-bottom: 20px;
}

.bestsellers>.header-title {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.coffee-bestsellers {
    height: 50%;
    margin-bottom: 10px;
}

.background-gradient {
    padding-left: 5px;
    height: 25px;
    color: whitesmoke;
    background: -webkit-linear-gradient(left, var(--primary-color), red);
    background: -o-linear-gradient(right, var(--primary-color), red);
    background: -moz-linear-gradient(right, var(--primary-color), red);
    background: linear-gradient(to right, var(--primary-color), red);
}

.product-article {
    margin-top: 10px;
    display: inline-block;
}

figure>img {
    width: 144px;
    height: 180px;
}

.product-article-name {
    margin: 10px;
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: 600;
}

.product-article-price {
    margin: 15px;
    color: rgb(7, 94, 7);
    font-size: 1.5em;
    font-weight: 600;
}

.add-to-cart-button {
    cursor: pointer;
    padding: 4px 25px;
    background: #603813;
    border: 1px solid #381f09;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    box-shadow: 0 0 4px rgba(0, 0, 0, .75);
    color: #f3f3f3;
    font-size: 0.8em;
    width: 80px;
}

.add-to-cart-button:hover, .add-to-cart-button:focus {
    background-color: #512c0a;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, .75);
    box-shadow: 0 0 1px rgba(0, 0, 0, .75);
}

footer {
    clear: both;
    width: 100%;
    background-color: rgba(206, 191, 191, 0.705);
    margin: 20px 0;
    padding: 5px;
}