:root {
    --primary-color: #471705;
}
* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.2em;
}

.header-logo > img {
    float: left;
    width: 100px;
    height: 80px;
    margin: 10px;
}

.main-header {
    height: 90px;
}

.navegacion {
    background-color: var(--primary-color);
    color: whitesmoke;
    height: 40px;
    margin-top: 30px;
}

.navegacion > ul > li{
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.nav-link {
    color: white;
    font-size: 1.1em;
    margin: 5px;
    text-decoration-line: none;
}

.search-box {
    float: right;
    padding: 5px;
    margin: 20px 20px;
    width: 250px;
}

.header-name {
    font-size: 3em;
    color: var(--primary-color);
    padding: 25px;
    margin: 10px;
    font-weight: bold;
}

.welcome-image > img {
    float: left;
    width: 600px;
    margin-top: 30px;
}

.coffee-of-the-month > img {
    float: right;
    width: 180px;
    margin-top: 70px;
    margin-right: 60px;
}

.welcome-text {
    float: left;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .welcome-text > header {
        color: var(--primary-color);
        font-weight: bold;
        margin-bottom: 10px;
        font-size: 1.2em;
    }

.events {
    float: right;
    width: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
}

    .events > header {
        margin-left: 20px;
        color: var(--primary-color);
        margin-bottom: 5px;
        font-weight: bold;
    }

        .events > ul {
            list-style: none;
        }
        .events > ul > li {
            margin-bottom: 10px;
        }

.bestsellers {
    height: 100%;
    width: 700px;
    float: left;
    margin-bottom: 20px;
}

.bestsellers > .header-title {
    color: var(--primary-color);
    font-weight: bold;
    margin-bottom: 5px;
}

.coffee-bestsellers {
    height: 50%;
    margin-bottom: 10px;
}

.background-gradient { 
    background-color: var(--primary-color);
    color: whitesmoke;
    height: 25px;
}

 .product-article {
    margin-top: 10px;
    display: inline-block;
}

figure > img {
    width: 144px;
    height: 180px;
}

.product-article-name {
    margin: 10px;
    color: var(--primary-color);
    font-size: 1.1em;
    font-weight: 600;
}

.product-article-price {
    margin: 15px;
    color: rgb(7, 94, 7);
    font-size: 1.5em;
    font-weight: 600;
}

.add-to-cart-button {
    margin: 10px;
}

footer{
    clear: both;
    width: 100%;
    background-color: rgba(206, 191, 191, 0.705);
    margin: 20px 0;
    padding: 5px;
}